h1 {
  color: #0170FF
}

a {
  color: #FF0101
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-left: 5px solid #005CFC;
  background: #F1F1F1;
  list-style-type: none;
}

li.active {
border-left:5px solid #01E4FF;
}

.content {
  padding: 20px;
  margin: 10px;
  font-style: italic;
  background-color: #424EDC;
  color: #FFFFFF;
}

.active {
  border-left: 5px;
  border-color: 
}

.footer {
  text-align: center;
  padding: 20px;
  margin: 10px;
  background-color: #424EDC;
  color: #FFFFFF;
}
