body {
  margin: 0;
  padding: 0;
  background: hsla(175, 87%, 24%, 0.92);
}

.game {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(175, 85%, 10%, 0.92);
  margin: 0 25%;
}

.peg {
  width: 30px;
  height: 300px;
  background: rgba(236, 231, 231, 0.509);
  position: absolute;
  margin: 40px;
  border-radius: 10%;
}

.disk {
  width: 80px;
  height: 200px;
  background: rgb(211, 35, 35);
  margin: 10px;
  border-radius: 5%;
  position: absolute;
}
